<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>
        ServletsProject</display-name>
    <servlet>

        <description>
        </description>


        <display-name>
            LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>
            com.incrys.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            ValidateServlet</display-name>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>
            com.incrys.ValidateServlet</servlet-class>
        <init-param>
            <param-name>password</param-name>
            <param-value>pass2</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            SuccessServlet</display-name>
        <servlet-name>SuccessServlet</servlet-name>
        <servlet-class>
            com.incrys.SuccesServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            FailureServlet</display-name>
        <servlet-name>FailureServlet</servlet-name>
        <servlet-class>
            com.incrys.FailureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/ValidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessServlet</servlet-name>
        <url-pattern>/SuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FailureServlet</servlet-name>
        <url-pattern>/FailureServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.incrys.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JsonRegister</servlet-name>
        <servlet-class>com.incrys.JsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonRegister</servlet-name>
        <url-pattern>/jsonRegister</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <welcome-file-list>

        <welcome-file>invalidLogin.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>LoginPage.jsp</welcome-file>
        <welcome-file>userLogged.jsp</welcome-file>
        <welcome-file>Register.jsp</welcome-file>
    </welcome-file-list>
</web-app>
